<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- materialise icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="deep-orange lighten-1">
    <div class="container">
        <div class="row">

            <div class="col l6">
                <div class="login white">
                    <div class="head">
                        <h1>Login</h1>
                        <span class="material-icons btn-floating pulse deep-orange"> login </span>
                    </div>
                    <form action="" method="get">
                        <label for="username">Username :</label>
                        <input type="text" name="username" id="username">
                        <input class="btn deep-orange" type="submit" value="Login">
                    </form>
                </div>
            </div>

            <div class="col l6 ">
                <div class="register white">
                    <div class="head">
                        <h1>Sign up</h1>
                        <span class="material-icons btn-floating pulse deep-orange ">account_circle </span>
                    </div>
                    <form action="" method="post">
                        <label for="username">Username :</label>
                        <input type="text" name="username" id="username">

                        <label for="email">Email :</label>
                        <input type="email" name="email" id="email">

                        <label for="name">Your name :</label>
                        <input type="text" name="name" id="name">

                        <input class="btn deep-orange" type="submit" value="Register">
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>

</html>